@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
    height: 100%;
    font-family: 'Bebas Neue';
    margin: 0;
}

button {
    font-family: 'Bebas Neue' !important;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-shadow: 2px 2px #fcbf49;
    font-size: 25px;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #fcbf49;
    padding-left: 5%;
}

h1 {
    font-size: 45px;
    margin: 0;
}

.game-body {
    display: grid;
    grid-template-rows: 10% 85% 5%;
    height: 100%;
}
#game-wrapper {
    display: grid;
    grid-template-columns: 70% 27%;
    justify-content: space-between;
}

.emoticon-wrapper {
    display: grid;
    grid-template-rows: 70% 30%;
}

#option-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.option-box {
    margin: auto;
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.option {
    font-size: 150px;
}

.option-button {
    width: 25%;
    height: 40%;
    font-size: 35px;
}

#played-option-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.explanation-wrapper {
    display: grid;
    grid-template-rows: 60% 30% 10%;
}

.result-box {
    border: solid 2px #fcbf49;
    height: 60%;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
    border-top: 2px black solid;
    box-shadow: 2px -2px #fcbf49;
    background-color: transparent;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }